h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 100px;
    text-align: center;
}

p {
    font-size: 25px;
    text-align: center;
}

.about2{
    position: relative;
    left: 1600px;
    top: -200px;
}

.about1{
    position: relative;
    left: 1600px;
    top: -200px;
}

.button{
    border-radius: 50%;
    font-size: 50px;
    background-color: white;
    color: black;
    border: 2px solid black;
    width: 200px;
    height: 100px;
    margin-top: -600px;
}

.button:hover{
    background-color: black;
    color: white;
    transition-duration: 0.4s;
}

.footer {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
}

.footer-left{
   margin-left: 50px;
}

.footer-middle {
    margin-left: 400px;
}