
    <div class = "header">
        <div>
            <h1>THE PART ABOUT US</h1>
        </div>
    </div>
    <div class = "body">
        <div>
            <p>We save animals, now we may seem like heros and that's because we are and never doubt that</p>
        </div>
        <div class="animals">
            <div>
                <img class="about2" src="pictures/About_photo_Two.jpeg" alt="ForestCat" width="300" height="250">
            </div>      
            <div>
                <img class="about1" src="pictures/About_photo.jpeg" alt="Pug" width="300" height="400">
            </div>
        </div>
       
        <div>
            <button onclick="window.location='/Facts'" class="button" id="facts">Facts page</button>
        </div>

        <div>
            <button onclick="window.location= '/'" class="button">Return</button>
        </div>
    </div>

    <!-- This is the footer it sits at the bottom of the screen in most pages -->
    <div class = "footer">
        <div class="footer-left">
            <p>Contact us:</p>
            <p>Email: WeSaveAnimals@gmail.com</p>
            <p>Phone: 0223458291</p>
        </div>

        <div class="footer-middle">
            <p>Find us at:</p>
            <p>69th Forth Street</p>
        </div>

        <div class="footer-right">
            <p></p>

        </div>

    </div>