<link rel="stylesheet" href="css/Animals.css">
    <div class="container">
        <div class="Birds">Birds</div>
        <div class="Bluey">Name: Sunshine <br><br>Age: 1 years <br><br> Description: Sunshine is an active young budgie who loves to be talked to and whos favourite food is silverbeet, She is not quite hand trained but with time i'm sure she will be <br>  <br><br> <a href="/Bluey"> Read more about Sunshine here</a></div>
        <div class="Blueypic"><img src="pictures/Bird_Photo_Two.jpeg" alt="Bird" width="100%" height="100%"></div>

      
        <div class="Backtomain"><a href="/">Go Back to main page</a></div>
        <div class="ToDogs"><a href="/Dogs">Check Out Our Dogs</a></div>
        <div class="ToCats"><a href="/Cats">Check Out Our Cats</a></div>
    </div>




