<link rel="stylesheet" href="css/Animals.css">

    <div class="container">
        <div class="Name">Sunshine</div>
        <div class="picture"><img src="pictures/Bird_Photo_Two.jpeg" alt="doggy" width="100%" height="100%"> </div>
        <div class="aboutAnimal">About this Animal: <br><br>
        Type of Animal: Bird <br><br>
        Name: Sunshine <br><br>
        Breed: Budgie <br><br>
        Gender: Female <br><br>
        Age: 1 Year <br><br>
        Fixed: No <br><br>
        Wings Clip?: No <br><br>
        Cost: $100 includes some feed. <br><br>

        Description: 
        
        Sunshine is an active young budgie who loves to be talked to and whos favourite food is silverbeet, She is not quite hand trained but with time i'm sure she will be
         
        </div>
        <!-- This redirects back to the specified page -->
        <div class="Back"><a href="/Birds">Go Back to Bird Page</a></div>
    </div>

    <!-- This is the footer it sits at the bottom of the screen in most pages -->

    <div class = "footer">
        <div class="footer-left">
            <p>Contact us:</p>
            <p>Email: WeSaveAnimals@gmail.com</p>
            <p>Phone: 0223458291</p>
        </div>

        <div class="footer-middle">
            <p>Find us at:</p>
            <p>69th Forth Street</p>
        </div>

        <div class="footer-right">
            <p></p>

        </div>

    </div>

