<link rel="stylesheet" href="css/Animals.css">
    <div class="container">
        <div class="Cats">Cats</div>
        <div class="Lucy">Name: Lucy <br><br>Age: 5 months <br><br> Description: Lucy is a tabby female whos looking for their furever home, she is quite shy around people and will need time to get to know you but once she does shes a bundle of energy that doesn't stop. <br>  <br><br> <a href="Lucy"> Read more about Lucy here</a></div>
        <div class="Lucypic"><img src="pictures/Cat_Photo_One.jpeg" alt="Cat" width="100%" height="100%"></div>

      

        <div class="Backtomain"><a href="/">Go Back to main page</a></div>
        <div class="ToDogs"><a href="/Dogs">Check Out Our Dogs</a></div>
        <div class="ToBirds"><a href="/Birds">Check Out Our Birds</a></div>
    </div>



