<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/Dogs.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="Dogs">Dogs</div>
        <div class="Baxter">Name: Baxter <br><br>Age: 3 months <br><br> Description: <br>
            Baxter is a fun loving pup who is looking for a furever home. As he is young he will need to be trained but is already learning and is keen to learn even more from you. <br><br> <a href="/Baxter"> Read more about Baxter here</a></div>
        <div class="Baxterpic"><img src="pictures/Dog_Photo_One.jpeg" alt="doggy" width="100%" height="100%"></div>

        <div class="Baxter1">Name: Baxter <br><br>Age: 3 months <br><br> Description: <br>
            Baxter is a fun loving pup who is looking for a furever home. As he is young he will need to be trained but is already learning and is keen to learn even more from you. <br><br> <a href="/Baxter"> Read more about Baxter here</a></div>
        <div class="Baxterpic1"><img src="pictures/Dog_Photo_One.jpeg" alt="doggy" width="100%" height="100%"></div>

        <div class="Baxter2">Name: Baxter <br><br>Age: 3 months <br><br> Description: <br>
            Baxter is a fun loving pup who is looking for a furever home. As he is young he will need to be trained but is already learning and is keen to learn even more from you. <br><br> <a href="/Baxter"> Read more about Baxter here</a></div>
        <div class="Baxterpic2"><img src="pictures/Dog_Photo_One.jpeg" alt="doggy" width="100%" height="100%"></div>


        <div class="Backtomain"><a href="/">Go Back to main page</a></div>
        <div class="ToCats"><a href="/Cats">Check Out Our Cats</a></div>
        <div class="ToBirds"><a href="/Birds">Check Out Our Birds</a></div>
    </div>




</body>
</html>