

    <div>
        <h1>GET SOME FACTS ABOUT CATS</h1>
    </div>
    <div>
        <button type ="button" class="fact_gen">
            Cats facts
        </button>
    </div>
    <div class="fact" id="beans">
        
    </div>

    <div>
        <h2>GET SOME FACTS ABOUT DOGS</h2>
    </div>
    <div>
        <button type ="button" class="fact_gen2">
            Dog facts
        </button>
    </div>
    <div class="fact2" id="beans2">
    </div>

    <div>
        <button onclick="window.location='/About'" class="back">About</button>
    </div>



<script src="javascript/Api.js"></script>
