<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/Lucy.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="Name">Lucy</div>
        <div class="picture"><img src="pictures/Cat_Photo_One.jpeg" alt="doggy" width="100%" height="100%"> </div>
        <div class="aboutAnimal">About this Animal: <br><br>
        Type of Animal: Cat <br><br>
        Name: Lucy <br><br>
        Breed: Tabby <br><br>
        Gender: Female <br><br>
        Age: 4 Months <br><br>
        Fixed: No <br><br>
        Fur Type: Short Haired <br><br>
        Cost: $150 includes microchip and desexing. <br><br>

        Description: 
        Lucy is a tabby female whos looking for their furever home, she is quite shy around people and will need time to get to know you but once she does shes a bundle of energy that doesn't stop.
         
        </div>
        <!-- This redirects back to the specified page -->
        <div class="Back"><a href="/Cats">Go back to Cats Page</a></div>
    </div>


    <!-- This is the footer it sits at the bottom of the screen in most pages -->
    <div class = "footer">
        <div class="footer-left">
            <p>Contact us:</p>
            <p>Email: WeSaveAnimals@gmail.com</p>
            <p>Phone: 0223458291</p>
        </div>

        <div class="footer-middle">
            <p>Find us at:</p>
            <p>69th Forth Street</p>
        </div>

        <div class="footer-right">
            <p></p>

        </div>

    </div>

</body>
</html>