body {
    margin: 0;
    background-color: pink;
}

/* All the positions of the contents */
.Birds {
    
    grid-column-start: 1;
    grid-column-end: 4;
}

.Bluey {
    grid-row-start: 2;
    grid-row-end: 2;

    grid-column-start: 1;
    grid-column-end: 2; 

    width: 75%;
    height: 75%;
}

.Blueypic {
    grid-row-start: 2;
    grid-row-end: 2;

    grid-column-start: 2;
    grid-column-end: 3;

    width: 75%;
    height: 75%;
}

.Backtomain {   
    grid-column-start: 1;
    grid-column-end: 1;
}

