body {
    margin: 0;
    background-color: pink;
}

/* All the positions of the contents */
.Cats {
    grid-column-start: 1;
    grid-column-end: 4;
}

.Lucy {
    grid-row-start: 2;
    grid-row-end: 2;

    grid-column-start: 1;
    grid-column-end: 2; 
}

.Lucypic {
    grid-row-start: 2;
    grid-row-end: 2;

    grid-column-start: 2;
    grid-column-end: 3;
}

.Backtomain {
    grid-column-start: 1;
    grid-column-end: 1;
}

