body {
    margin: 0;
    background-color: pink;
}

/* All the positions of the contents */
.Dogs {
    grid-column-start: 1;
    grid-column-end: 4;
}

.Baxter {
    grid-row-start: 2;
    grid-row-end: 2;

    grid-column-start: 1;
    grid-column-end: 2; 
}

.Nancy {
    grid-row-start: 3;
    grid-row-end: 3;

    grid-column-start: 1;
    grid-column-end: 2; 

    height: 50%;
}



.Baxterpic {
    grid-row-start: 2;
    grid-row-end: 2;

    grid-column-start: 2;
    grid-column-end: 3;
}

.Nancypic {
    grid-row-start: 3;
    grid-row-end: 3;

    grid-column-start: 2;
    grid-column-end: 3;

    height: 50%;
}


.Backtomain {
    grid-column-start: 1;
    grid-column-end: 1;
}

.footer {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
}

.footer-left{
   margin-left: 50px;
}

.footer-middle {
    margin-left: 400px;
}